.container-fluid h1 {margin-bottom:9px}
table.items-list td:last-child{width:150px}
table.items-list tbody tr td:nth-last-child(1) {text-align:center}
table.items-list tbody tr td:nth-last-child(1) .btn-group {text-align:left;display:inline-block}

.control-group {margin-bottom:20px}
.input-large {width:50%;max-width:50%}
.input-xlarge {width:80%;max-width:80%}
.input-prepend .input-xlarge {width:40%}
.input-prepend .btn.btn-mini.btn-danger {margin-left:0;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}

.typeahead .well {width:80%;max-width:80%;padding:10px 4px}
.typeahead .well ul {height:150px;max-height:150px;overflow-y:auto;list-style: none;margin: 4px;background-color:white;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
.typeahead .well li {padding:4px;cursor:pointer}
.typeahead .well li:hover, .typeahead .well li.active {color: white;text-decoration: none;background-color: #08C}

textarea.input-xlarge {height:300px}
.form-actions {width:80%}

#ui-datepicker-div {background-color:#eee;width:285px}
#ui-datepicker-div .ui-datepicker-header {background-color:#1356a4;color:white;padding:5px;margin-bottom:4px}
#ui-datepicker-div table {width:100%;text-align:center}
#ui-datepicker-div table td {padding:5px}
#ui-datepicker-div .ui-icon {cursor:pointer;position: absolute;font-weight:bold}
#ui-datepicker-div .ui-datepicker-prev, #ui-datepicker-div .ui-datepicker-next {position: absolute;top: 5px;width: 1.8em;height: 1.8em;color:white}
#ui-datepicker-div .ui-datepicker-prev {left:5px}
#ui-datepicker-div .ui-datepicker-next {right:5px}
#ui-datepicker-div .ui-icon-circle-triangle-w {left: 14px;}
#ui-datepicker-div .ui-icon-circle-triangle-e {right: 2px;}
#ui-datepicker-div .ui-datepicker-title {margin: 0 2em;line-height: 1.8em;text-align: center;}
#ui-datepicker-div .ui-datepicker-current-day {background-color:#1356a4}
#ui-datepicker-div .ui-datepicker-current-day a {color:white}

h1{font-size:30px;line-height:36px !important; text-transform: uppercase}

.container-fluid hr{margin-top: 0px;margin-bottom: 30px}
.container-fluid h1{font-size:20px}

.message{padding: 0px}
.message .alert{margin: 0 5% 40px;}


#items-list .dropdown-menu{right:0px !important;left:auto !important}
#filter-tab-content{padding:20px}
#filter-tab-content .form-group{overflow:hidden}
#filter-tab-content .form-group label{display:block}
#filter-tab-content .form-group > div{float:left;width:250px;margin-right:10px}
#filter-tab-content .form-group > div >a{line-height:35px}
#filter-tab-content .form-group > div >a.select{opacity:0.3;filter:alpha(opacity=30);}
#myTab span.disable{opacity:0.3;filter:alpha(opacity=30);}

.admin-cont{padding: 0px 5% 40px 5%}

.has-error label{color:#b94a48}

.ui-widget-header{background:#333333 !important;}
.ui-datepicker-year option{
    color: #333333 !important;}
#ui-datepicker-div .ui-datepicker-current-day{background-color: #333333 !important;}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year{}
select.ui-datepicker-year{color:#333333 !important}


.configurator-form .option-item-indicator .label-success{opacity: 0.4;
    filter: alpha(opacity=40);}

.configurator-form .option-item-indicator.active .label-success{opacity: 1;
    filter: alpha(opacity=100);}

h2{border-bottom: 2px solid #333333;font-size: 16px;display: inline-block}


.cropper-preview-cont{
    position: relative;border: 1px solid #cccccc; padding: 20px 10px;
}
.cropper-preview img{width: 100%}
.cropper-modal-cont .modal-dialog{width: 95%;max-width: 600px;}
.cropper-modal-cont img {
    max-width: 100%;
}
.cropper-preview{max-width: 140px}
.form-group.error label{color: red;}
.del-check {
    float: left;
    width: 40px;
    z-index: 30;
    position: relative;
    padding: 20px 10px
}


#localized-xls-handler{padding: 5px 10px; border: 1px solid #dddddd; margin: 20px 0px 5px}

#localized-xls-handler .panel-body > a{margin-right: 30px}
#localized-xls-handler .panel-body > input{display: inline-block}
#localized-xls-handler .panel-body > label{margin-right: 5px;font-weight: bold}